img {
    position: absolute
}
.banner-background {
    background-image: url("/assets/banner-acesso/newFundo.png");
    background-repeat: no-repeat;
    height: 602px;
    width: 379px;
    padding-top: 26px;
    padding-left: 156px;
}