.card1{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    width: 21rem; 
    border-radius: 0;
    border: #d2d2d2 1px solid;
    padding: 10px 0;
    margin-top: -95px;
}
.card-title {
    background-image: url("/assets/logo-instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
    margin-bottom: 38px;
}
.form-group{
    width: auto;
    >input{
        margin-bottom: 6px;
        border-radius: 4px;
        height: 37px;
        width: 260px;
        font-size: 0.7rem;
        background-color: #f7f7f7;
        color: #8e8e8e;
    }
}

form { 
    width: auto;
    button{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
        border-radius: 8px;
        background-color: #0095f6;
        font-size: 0.9rem;
        border: none;
    }
    button:hover{
        background-color: #0284db;
        cursor: pointer;
    }
}

.card-text {
    font-size: 0.8rem;
    text-align: center;
    > a{
        color: #0095f6;
        text-decoration: none;
        font-weight: 500;
    }
    a:active{
        color: #0284dba6;
    }
}

.appStore{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 320px;
    font-size: 0.9rem;
    margin-bottom: 95px;
    .stores{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .googlePlay{
            margin-right: 4px;
            .imgGooglePlay{
                height: 40px;
            }
        }
        .microsoft{
            margin-left: 4px;
            .imgMicrosoft{
                height: 40px;
            }
        }
    }
}

.row .div{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    hr{
        width: 40%;
        border: none;
        border-top:#8e8e8e solid 1px ;
    }
    span{
        padding: 0;
        color: #8e8e8e;
        font-size: 0.8rem;
        font-weight: 400;
    }
}

.facebook{
    > a{
        padding: 10px;
        text-decoration: none;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        svg{
            margin-bottom: 3px;
        }
        span{
            margin-left: 5px;
            text-align: center;
            margin-top: 2px;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #4460a0;
}

.newPassword{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 0.7rem;
    text-decoration: none;
    color:#0a48a7;
}