img {
    position: absolute
}
.banner-background {
    background-image: url("/assets/banner-acesso/newFundo.png");
    height: 602px;
    width: 430px;
    padding-top: 27px;
    padding-left: 156px;
}